In [1]:
# Import Library
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
# Membaca Dataset
data = pd.read_csv('milknew.csv')

In [3]:
# Membuat korelasi 
corelation = data.corr(numeric_only=True).stack().reset_index()
corelation.columns = ['Fitur1', 'Fitur2', 'Korelasi']
corelation.to_csv("korelasi.csv", index=False)

In [11]:
data[data["Grade"] == "high"]

       pH  Temprature  Taste  Odor  Fat  Turbidity  Colour Grade
0     6.6          35      1     0    1          0     254  high
1     6.6          36      0     1    0          1     253  high
5     6.6          37      1     1    1          1     255  high
14    6.8          45      0     1    1          1     255  high
20    6.6          45      0     1    1          1     250  high
...   ...         ...    ...   ...  ...        ...     ...   ...
1043  6.8          40      1     1    1          1     255  high
1047  6.8          45      1     1    1          0     245  high
1050  6.6          37      1     1    1          1     255  high
1055  6.7          38      1     0    1          0     255  high
1057  6.8          43      1     0    1          0     250  high

[256 rows x 8 columns]

In [15]:
# list = ["Taste", "Odor", "Fat", "Turbidity"]
# grade = ["high", "medium", "low"]
# col = ["Grade","Attr", "False", "True"]

# dataToDf = []

# for x in grade:
#     for y in list:
#         count = data[data["Grade"] == x][y].value_counts()
#         dataToDf.append([x, y,count[0], count[1]])

# df = pd.DataFrame(dataToDf, columns=col)
# df.to_csv("bar.csv", index=False)

In [27]:
list = ["Taste", "Odor", "Fat", "Turbidity"]
grade = ["high", "medium", "low"]
col = ["Grade", "False", "True"]

for x in list:
    dataToDf = []
    for y in grade:
        count = data[data["Grade"] == y][x].value_counts()
        dataToDf.append([y,count[0], count[1]])
    df = pd.DataFrame(dataToDf, columns=col)
    df.to_csv(x+".csv",index=False)

In [63]:
# list = ["Taste", "Odor", "Fat", "Turbidity"]
# grade = ["high", "medium", "low"]

# col = ["Grade","Taste", "Odor", "Fat", "Turbidity"]
# dataToDf = []

# for x in grade:
#     l = []
#     l.append(x)
#     for y in list:
#         count = len(data[(data['Grade']==x) & (data[y] == 1)])
#         l.append(count)
#     dataToDf.append(l)

# df = pd.DataFrame(dataToDf, columns=col)
# df.to_csv("barplot.csv",index=False)